.main-banner {
    min-height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-banner-380 {
    min-height: 380px;
}

.main-banner-grad {
    position: relative;
}
.shift-box {
    padding-bottom: 25px;
}
.sidebar {
    padding-top: 30px;
}
.shift-box-product .sidebar-menu {
    margin-top: 200px;
    padding-left: 0;
}
.shift-box__content {
    margin: -200px auto 0;
    background: #fff;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
}
.shift-box__content_i {
    display: inline-block;
    width: 100%;
}
.breadcumb {
	margin-bottom: 20px;
}
ul.breadcumb li {
    display: inline-block;
    vertical-align: middle;
}
ul.breadcumb a, ul.breadcumb span {
    color: #2b78e4;
    font-size: 18px;
}
.shift-box-article p {
	text-transform: uppercase;
}
.article-table h2 {
	margin-bottom: 20px;
}
.article-table table {
	width: 100%;
}
table thead {
	border-top: 1px solid #252525;
}
@media (max-width: 991px) {
	.shift-box__content {
		margin: 0;
	}
}

.product-item_contact-info {
    background: #262626;
    border-bottom: 3px solid #2b78e4;
    padding: 30px 20px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    .text-box {
    	display: inline-block;
    	vertical-align: middle;
    }
    .single-contact-infos {
    	margin: 15px 0;
    }
    button {
    	width: auto;
    	padding: 0 20px;
    }
}
.shift-box__content_i .article-desc {
	margin: 20px;
	 h3 {
	 	font-size: 26px;
	 }
}

.shift-box__content .feature-style-one {
	padding: 30px 0;
}
.text-box .mb {
	margin-left: 10px;
}
